.section-sidebar 
  .navbar-logo 
    .inner-logo 
      a(href="/")
        img(src="https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg", alt="logo")
  .navbar-main
    ul 
      li.nav-item 
        a(href="/topics")
          i(class="fa-solid fa-music")
          span Thư viện
      li.nav-item.active
        a(href="/topics")
          i(class="fa-regular fa-circle-dot")
          span Chủ đề
      li.nav-item
        a(href="/songs")
          i(class="fa-solid fa-chart-line")
          span Bài hát
      li.nav-item
        a(href="#")
          i(class="fa-brands fa-slack")
          span Radio
      li.nav-item
        a(href="#")
          i(class="fa-solid fa-ranking-star")
          span BXH


  
