.section-sidebar 
  .navbar-logo 
    .inner-logo 
      a(href="/")
        img(src="https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg", alt="logo")
  .navbar-main
    ul 
      li.nav-item 
        a(href="/topics")
          i(class="fa-solid fa-music")
          span Thư viện
      li.nav-item.active
        a(href="#")
          i(class="fa-regular fa-circle-dot")
          span Khám phá


  
