.layout-default {
  position: relative;
  width: 100%;
  min-width: 768px;
  min-height: 100vh;
  height: 100%;
  background-color: #170f23;
  display: flex;
}

.head-title {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Side bar  */
.section-sidebar {
  width: 240px;
  background-color: hsla(0, 0%, 100%, 0.05);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.section-sidebar .navbar-logo {
  width: 240px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 25px 0 28px;
}

.section-sidebar .inner-logo {
  height: 40px;
  width: 141px;
}

.section-sidebar .inner-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-main li a {
  display: flex;
  align-items: center;
  color: #dadada;
  padding: 12px 21px;
  line-height: 20px;
  font-weight: 500;
  font-size: 17px;
}

.navbar-main li a i {
  margin-right: 10px;
}

.navbar-main li.active a {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
  border-left: #9b4de0 2px solid;
}

/* End Side bar  */
/* Header  */
.section-header {
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  left: 240px;
  top: 0;
  right: 0;
  height: 70px;
  padding: 0 60px;
  z-index: 100;
  min-width: 660px;
  transition: right .4s;
  background-color: #170f23;
}

.section-header .button-directional {
  display: flex;
  color: #fff;
  font-size: 18px;
  margin-right: 25px;
}

.section-header .button-directional .button-back {
  margin-right: 20px;

}

.section-header form.search {
  flex: 1;
}

.section-header form.search .input-search {
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  padding: 0 10px;
  color: #dadada;
  max-width: 400px;
}


.section-header form.search .input-search i {
  font-size: 20px;
  color: #dadada;
}

.section-header form.search .input-search input {
  background: none;
  border: hidden;
  color: #fff;
}

.section-header .box-user {
  flex: 1;
  text-align: right;
}

.section-header .box-user a {
  border-radius: 50%;
  display: inline-block;
  width: 38px;
  height: 38px;
}

.section-header .box-user a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* box-search */
.box-search {
  position: relative;
}

.box-search.is-collapse .input-search {
  border-radius: 20px 20px 0 0 !important;
  background-color: #34224F !important;
}

.box-search .inner-suggest {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
  overflow-y: auto;
  display: none;
  padding: 5px;
}

.box-search .inner-suggest.show {
  display: block;
  background: #34224F;
}

.box-search .inner-suggest .inner-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.box-search .inner-suggest .inner-item:hover {
  background: rgba(254, 255, 255, 0.05);
  text-decoration: none;
}

.box-search .inner-suggest .inner-item:last-child {
  border-bottom: 0;
}

.box-search .inner-suggest .inner-item .inner-image {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.box-search .inner-suggest .inner-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-search .inner-suggest .inner-item .inner-info {
  flex: 1;
  margin-left: 10px;
}

.box-search .inner-suggest .inner-item .inner-info .inner-title {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.box-search .inner-suggest .inner-item .inner-info .inner-singer {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff80;
  margin-bottom: 2px;
}

/* End box-search */


/* End Header  */
/* Main  */
.main {
  width: calc(100% - 240px);
  height: calc(100% - 70px);
  margin-left: auto;
}

/* End Main  */
/* List Topic */
.list-topic .card {
  border: hidden;
  background-color: #170f23;
}

.list-topic .card a {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.list-topic .card a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-topic .card h5 {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 7px;
}

.list-topic .card p {
  color: hsla(0, 0%, 100%, 0.5);
}

.list-topic .card-body {
  background-color: #170f23;
  padding: 15px 0;
}

.list-topic .card-body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* End List Topic */
/* song-item */
.table-song thead {
  border: hidden;
}

.table-song thead tr {
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.05);
}

.table-song tbody tr {
  margin-bottom: 2px;
}

.table-song tbody td {
  padding: 5px 0;
  border-top: solid 1px hsla(0, 0%, 100%, 0.05);
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.05);
}

.table-song th {
  padding: 10px 0;
  text-transform: uppercase;
  color: #ffffff80;
  font-size: 12px;
}

.song-item {
  display: flex;
  border-radius: 5px;
  align-items: center;

}

.song-item .inner-image {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 10px;
}

.song-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-item .inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.table-song .inner-content .inner-title {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
}

.table-song .inner-content .inner-title a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.table-song .inner-content .inner-title a:hover {
  color: #c273ed;
  text-decoration: none;
}

.table-song .inner-content .inner-singer {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff80;
  margin-bottom: 2px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.table-song .inner-like {
  font-weight: 500;
  color: #ffffff80;
  margin-bottom: 2px;
  font-size: 13px;
  margin-top: 10px;
}


.table-song .inner-album {
  color: #ffffff80;
  font-size: 12px;
  margin-top: 10px;

}

.box-topic {
  padding-right: 30px;
}

.box-topic .inner-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
}

.box-topic .inner-image:hover img {
  scale: 1.1;
  transition: all 0.5s ease-in-out;
}


.box-topic .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.box-topic .inner-content {
  text-align: center;
}

.box-topic .inner-content .inner-title {
  font-size: 20px;
  margin-top: 8px;
}

.box-topic .inner-content .inner-desc {
  font-size: 12px;
  color: #ffffff80;
}

/* End song-item */
/* singer-detail */
.singer-detail .inner-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #F57F20;
}

.singer-detail .inner-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.singer-detail .inner-actions .inner-action {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #646464;
}

.singer-detail .inner-actions .inner-action i {
  font-size: 16px;
  margin-right: 5px;
}

.singer-detail .inner-actions .inner-like {
  cursor: pointer;
}

.singer-detail .inner-actions .inner-like.active i {
  font-weight: 900;
}

.singer-detail .inner-actions .inner-like i {
  color: #0059ff;
}

.singer-detail .inner-actions .inner-like .inner-number {
  color: #646464;
}

.singer-detail .inner-actions .inner-heart {
  cursor: pointer;
}

.singer-detail .inner-actions .inner-heart i {
  color: #b90000;
}

.singer-detail .inner-actions .inner-heart.active i {
  font-weight: 900;
}

.singer-detail .inner-play {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.singer-detail .inner-play .inner-audio {
  flex: 1;
}

.singer-detail .inner-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #F57F20;
  margin-right: 20px;
  animation-name: spin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.singer-detail .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singer-detail .inner-desc {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.singer-detail .inner-desc .inner-label {
  font-size: 16px;
  font-weight: 700;
  color: #F57F20;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.singer-detail .inner-desc .inner-text {
  font-size: 14px;
  padding: 10px 15px;
}

.aplayer-title {
  color: #666;
}

/* End singer-detail */
/* Box Item  */
.box-item {
  display: flex;
  align-items: center;
  background-color: rgba(254, 255, 255, 0.05);
  border-radius: 10px;
  margin-bottom: 10px;
}

.box-item .inner-img {
  flex-shrink: 0;
  width: 30%;
  aspect-ratio: 1/1;
}

.box-item .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.box-item .inner-right {
  padding: 5px;
  margin-left: 5px;
}

.box-item .inner-right .inner-title {
  color: #ffffff80;
  font-size: 12px;
  margin-bottom: 6px;

}

.box-item .inner-right .inner-song {
  color: #ffff;
  font-size: 14px;

}

.box-item .inner-right .inner-singer {
  color: #ffffff80;
  font-size: 12px;

}

/* End Box Item  */