extends ../../layouts/default 
block main 
  if (topic.title)
    h2(class="mb-4") #{topic.title}
  if (topic.avatar)
    div(class="mb-4")
    img(
      src=topic.avatar
      style="width: 200px"
    )
  if (topic.status)
    div(class="mb-4")
    span(class="m-3") Trạng thái:
    if (topic.status === "active")
      span(class="badge badge-success btn-active") Hoạt động
    else
      span(class="badge badge-danger btn-inactive") Dừng hoạt động
  if (topic.description)
    div(class="mb-4") Mô tả: !{topic.description}